@{
    ViewData["Title"] = "Alumnos";
}

<div class="text-center">
    <h1>Listado de Alumnos</h1>
    <a asp-controller="Alumnos" asp-action="AlumnosAdd" class="btn btn-primary mb-3">Agregar Alumno</a>
</div>
<hr size="4">

