
@model CarrerasModel;

@{
    ViewData ["Title"] = "Carreras";
}

<div class="text-center">
    <h1>Carreras Generales</h1>

    <a asp-controller="Carreras" asp-action="CarrerasAdd"  class="btn btn-primary mb-3">Agregar Carrera</a>
</div> 
<br>

<h2 class="display-6">Listado de Carreras</h2>
<hr size="4">

<div class="row">
    <div class="col">
        <img class="img-fluid" src="https://i.pinimg.com/736x/31/92/6e/31926ea129f8e475251cde0f09c51b8d.jpg">
        <h4 class="text-center">Psicologia</h4>
       
       <div class="text-center">
        <a class="btn btn-primary mb-3">Editar</a>
        <a class="btn btn-danger mb-3">Borrar</a>
       </div>

    </div> 

    
    

      <div class="col">
        <img class="img-fluid" src="https://static.vecteezy.com/system/resources/previews/030/468/015/non_2x/from-a-computer-desk-view-financial-data-on-multiple-screens-in-an-office-vertical-mobile-wallpaper-ai-generated-free-photo.jpg">
        <h4 class="text-center">Ing.Tecnologias de la informacion</h4>

        <div class="text-center">
        <a class="btn btn-primary mb-3">Editar</a>
        <a class="btn btn-danger mb-3">Borrar</a>
       </div>

    </div>
    

      <div class="col">
        <img class="img-fluid" src="https://i.pinimg.com/originals/52/2b/97/522b9778881d0795a2931099c8848026.jpg">
        <h4 class="text-center">Lic.Derecho Penal</p>

        <div class="text-center">
        <a class="btn btn-primary mb-3">Editar</a>
        <a class="btn btn-danger mb-3">Borrar</a>
       </div>

    </div>


</div>

<br><br><br><br><br><br><br>

