@{
    ViewData ["Title"] = "Guardado Exitoso";
}

<div class="text-center">
<h1>Guardado Existosamente</h1>
<h2>Puede continuar navegando o regresar a su inicio</h2>
<br>
<a asp-controller="Home" asp-action="index" class="btn btn-primary mb-3">Regresar</a>
</div>