@{
    ViewData["Title"] = "Maestros";
}

<div class="text-center">
    <h1>Listado de Maestros</h1>
    <a asp-controller="Maestros" asp-action="MaestrosAdd" class="btn btn-primary mb-3">Agregar Maestro</a>
</div>

<hr size="4">

<div class="row">
    <div class="col">
        <img class="img-fluid rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/8/84/Sylvester_Stallone_Cannes_2019.jpg">
        <h4 class="text-center">Silvester Stallone</h4>
       
       <div class="text-center">
        <a class="btn btn-primary mb-3">Editar</a>
        <a class="btn btn-danger mb-3">Borrar</a>
       </div>

    </div> 

    
    

      <div class="col">
        <img class="img-fluid rounded-circle" src="https://i.pinimg.com/736x/e7/00/cc/e700cc151fa1c54352e7ec0020cc6aaa.jpg">
        <h4 class="text-center"> Dwayne Rock Jhonson</h4>

        <div class="text-center">
        <a class="btn btn-primary mb-3">Editar</a>
        <a class="btn btn-danger mb-3">Borrar</a>
       </div>

    </div>
    

      <div class="col">
        <img class="img-fluid  rounded-circle" src="https://static.diariofemenino.com/images/galeria/12000/12822_xavi-hernandez-vuelve-a-barcelona-sin-el-fifa-balon-de-oro-2010.jpg">
        <h4 class="text-center">David Roman Flores</p>

        <div class="text-center">
        <a class="btn btn-primary mb-3">Editar</a>
        <a class="btn btn-danger mb-3">Borrar</a>
       </div>

    </div>


</div>

<br><br><br><br><br><br><br>