@{
ViewData ["Title"] = "Maestros Nuevos";
}


<form asp-asp-controller="Maestros" asp-action="MaestrosSave">
    <div class="mb-3">
        <label for="nombre" class="from-label">Nombre</label>
        <br>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba el nombre del Profesor" />
        <br>

        <label for="edad" class="from-label">Edad</label>
        <br>
        <input type="number" class="form-control" id="nombre" name="nombre" placeholder="Edad Actual" />
        <br>

         <label for="preparatoria" class="from-label">Carrera</label>
        <br>
        <input type="number" class="form-control" id="nombre" name="nombre" placeholder="Carrera Ejercida" />
        <br>

         <label for="numero" class="from-label">Telefono</label>
        <br>
        <input type="number" class="form-control" id="nombre" name="nombre" placeholder="Telefono Personal" />
        <br>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <button asp-action="Maestroslist" type="Submit" class="btn btn-secundary">Cancelar</button>
</form>