@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Las carreras menos esperadas!</h1><br>
    <h2 class="display-4">encuentralas solo aqui</h2>
</div>

<br><br><br><br><br><br><br>
<h3>Se parte de Nosotros</h3>
<img  class="img-fluid" src="https://i0.wp.com/gaceta.facmed.unam.mx/wp-content/uploads/2019/03/LIBB.jpeg?resize=1280%2C640&ssl=1">
<br><br><br><br><br><br><br>